@model Gerador_CSS.Models.ButtonModel
@using Gerador_CSS.Models;


<div id="div_hover_options" align="center" class="primary_menu" onclick="OpenHoverButtonOptions()">
    <span>Mouse Sobre o Botão &#9652;</span>
</div>

<table id="hover_options" style="display: none; width: 88%">

    <tbody>
        <tr>
            <td style="width: 160px">Cor de Fundo:</td>
            <td> <input id="background_color_selector_hover" name="Hover_Background_Color" style="width: 100px; height: 30px;" onchange="BackgroundColorSelectorHover(this)" type="color" value="@Model.Hover_Background_Color" /> </td>
        </tr>
    </tbody>
</table>



<div id="div_hover_font_options" align="center" class="secondary_menu" onclick="OpenHoverFontButtonOptions()">
    <span>Fonte &#9652;</span>
</div>
<table id="hover_font_options" style="display: none; width: 88%">
    <tr>
        <td>Cor:</td>
        <td> <input id="color_selector_hover" name="Hover_Color" style="width: 100px; height: 30px;" onchange="ColorSelectorHover(this)" type="color" value="@Model.Hover_Color" /> </td>
    </tr>
    <tr>
        <td>Tamanho:</td>
        <td> <input id="font_size_hover_range" name="Hover_Font_Size" type="range" class="range" value="@Model.Hover_Font_Size.Replace("px", string.Empty)" min="1" max="100" onchange="FontSizeHover(this)" /> </td>
        <td><input id="font_size_number_hover" onchange="FontSizeHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Font_Size.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Negrito:</td>
        <td> <input id="font_weight_hover_range" name="Hover_Font_Weight" type="range" class="range" value="@Model.Hover_Font_Weight" min="0" max="1000" step="100" onchange="FontWeightHover(this)" /> </td>
        <td><input id="hover_font_weight_number" onchange="FontWeightHoverNumberChanged(this)" step="100" min="0" max="1000" value="@Model.Hover_Font_Weight" class="input-number" type="number" /></td>
    </tr>
    <tr>
        <td>Estilo:</td>
        <td>
            <input type="hidden" id="select_font_style_hover_hidden" value="@Model.Hover_Font_Style" />
            <select class="select" id="select_font_style_hover" name="Hover_Font_Style" onchange="FontStyleHover(this)">
                <option value="normal">Normal</option>
                <option value="italic">Itálico</option>
                <option value="oblique">Oblíquo</option>
                <option value="initial">Inícial</option>
                <option value="inherit">Herdar</option>
            </select>
        </td>
    </tr>
    <tr>
        <td>SOMBRAS</td>
    </tr>
    <tr>
        <td>Habilitar Sombras:</td>
        <td>
            @if (Model.Hover_Text_Shadow_Enable == true)
            {
                <input id="checkbox_font_shadow_enable_hover" type="checkbox" onchange="FontShadowEnableHover(this)" checked />
            }
            else
            {
                <input id="checkbox_font_shadow_enable_hover" type="checkbox" onchange="FontShadowEnableHover(this)" />
            }

        </td>
    </tr>

    <tr>
        <td>Deslocamento Horizontal:</td>
        <td> <input id="range_font_shadow_offset_x_hover" name="Hover_Text_Shadow_Offset_X" type="range" class="range" value="@Model.Hover_Text_Shadow_Offset_X.Replace("px", string.Empty)" min="0" max="100" onchange="FontShadowOffsetXHover(this)" /> </td>
        <td><input id="font_shadow_offset_x_hover_number" onchange="FontShadowOffsetXHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Text_Shadow_Offset_X.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Deslocamento Vertical:</td>
        <td> <input id="range_font_shadow_offset_y_hover" name="Hover_Text_Shadow_Offset_Y" type="range" class="range" value="@Model.Hover_Text_Shadow_Offset_Y.Replace("px", string.Empty)" min="0" max="100" onchange="FontShadowOffsetYHover(this)" /> </td>
        <td><input id="font_shadow_offset_y_hover_number" onchange="FontShadowOffsetYHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Text_Shadow_Offset_Y.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Raio de Borrão:</td>
        <td> <input id="range_font_shadow_blur_radius_hover" name="Hover_Text_Shadow_Blur_Radius" type="range" class="range" value="@Model.Hover_Text_Shadow_Blur_Radius.Replace("px", string.Empty)" min="0" max="100" onchange="FontShadowBlurRadiusHover(this)" /> </td>
        <td><input id="font_shadow_blur_radius_hover_number" onchange="FontShadowBlurRadiusHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Text_Shadow_Blur_Radius.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Cor da Sombra:</td>
        <td> <input id="text_shadow_color_selector_hover" name="Hover_Text_Shadow_Color" style="width: 100px; height: 30px;" onchange="FontShadowColorSelectorHover(this)" value="@Model.Hover_Text_Shadow_Color" type="color" /> </td>
    </tr>
</table>




<div id="div_hover_padding_options" align="center" class="secondary_menu" onclick="OpenHoverPaddingButtonOptions()">
    <span>Preenchimento &#9652;</span>
</div>
<table id="hover_padding_options" style="display: none; width: 88%">
    <tr>
        <td>Preenchimento Superior:</td>
        <td> <input id="padding_top_hover_range" name="Hover_Padding_Top" type="range" class="range" value="@Model.Hover_Padding_Top.Replace("px", string.Empty)" min="1" max="100" onchange="PaddingTopHover(this)" /> </td>
        <td><input id="padding_top_number_hover_number" onchange="PaddingTopHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Padding_Top.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Preenchimento Inferior:</td>
        <td> <input id="padding_bottom_hover_range" name="Hover_Padding_Bottom" type="range" class="range" value="@Model.Hover_Padding_Bottom.Replace("px", string.Empty)" min="1" max="100" onchange="PaddingBottomHover(this)" /> </td>
        <td><input id="padding_bottom_number_hover_number" onchange="PaddingBottomHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Padding_Bottom.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Preenchimento Esquerdo:</td>
        <td> <input id="padding_left_hover_range" name="Hover_Padding_Left" type="range" class="range" value="@Model.Hover_Padding_Left.Replace("px", string.Empty)" min="1" max="100" onchange="PaddingLeftHover(this)" /> </td>
        <td><input id="padding_left_number_hover_number" onchange="PaddingLeftHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Padding_Left.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Preenchimento Direito:</td>
        <td> <input id="padding_right_hover_range" name="Hover_Padding_Right" type="range" class="range" value="@Model.Hover_Padding_Right.Replace("px", string.Empty)" min="1" max="100" onchange="PaddingRightHover(this)" /> </td>
        <td><input id="padding_right_number_hover_number" onchange="PaddingRightHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Padding_Right.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
</table>





<div id="div_hover_border_options" align="center" class="secondary_menu" onclick="OpenHoverBorderButtonOptions()">
    <span>Bordas &#9652;</span>
</div>
<table id="hover_border_options" style="display: none; width: 88%">
    <tr>
        <td style="text-align: center;" colspan="4">TODAS</td>
    </tr>
    <tr>
        <td>Cor das Bordas:</td>
        <td> <input id="border_color_selector_hover" style="width: 100px; height: 30px;" onchange="BorderColorSelectorHover(this)" type="color" /> </td>
    </tr>
    <tr>
        <td>Espessura das Bordas:</td>
        <td> <input id="border_width_range_hover" type="range" class="range" value="2" min="0" max="100" onchange="BorderWidthHover(this)" /> </td>
        <td><span id="border_width_number_hover">2px</span></td>
    </tr>
    <tr>
        <td>Raio das Bordas:</td>
        <td> <input type="range" class="range" value="8" min="0" max="100" onchange="BorderRadiusHover(this)" /> </td>
        <td><span id="border_radius_number_hover">10px</span></td>
    </tr>
    <tr>
        <td style="text-align: center;" colspan="4">BORDA SUPERIOR</td>
    </tr>
    <tr>
        <td>Cor:</td>
        <td> <input id="border_top_color_selector_hover" name="Hover_Border_Top_Color" style="width: 100px; height: 30px;" value="@Model.Hover_Border_Top_Color" onchange="BorderTopColorSelectorHover(this)" type="color" /> </td>
    </tr>
    <tr>
        <td>Espessura:</td>
        <td> <input id="border_top_width_range_hover" name="Hover_Border_Top_Width" type="range" class="range" value="@Model.Hover_Border_Top_Width.Replace("px", string.Empty)" min="0" max="100" onchange="BorderTopWidthHover(this)" /> </td>
        <td><input id="border_top_width_number_hover" onchange="BorderTopWidthHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Border_Top_Width.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Raio Esquerda:</td>
        <td> <input type="range" id="border_top_left_radius_range_hover" name="Hover_Border_Top_Left_Radius" class="range" value="@Model.Hover_Border_Top_Left_Radius.Replace("px", string.Empty)" min="0" max="100" onchange="BorderTopLeftRadiusWidthHover(this)" /> </td>
        <td><input id="border_top_left_radius_number_hover" onchange="BorderTopLeftRadiusHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Border_Top_Left_Radius.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Raio Direita:</td>
        <td> <input type="range" id="border_top_right_radius_range_hover" name="Hover_Border_Top_Right_Radius" class="range" value="@Model.Hover_Border_Top_Right_Radius.Replace("px", string.Empty)" min="0" max="100" onchange="BorderTopRightRadiusWidthHover(this)" /> </td>
        <td><input id="border_top_right_radius_number_hover" onchange="BorderTopRightRadiusHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Border_Top_Right_Radius.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Estilo:</td>
        <td>
            <input type="hidden" id="select_border_top_style_hover_hidden" value="@Model.Hover_Border_Top_Style" />
            <select class="select" id="select_border_top_style_hover" name="Hover_Border_Top_Style" onchange="BorderTopStyleHover(this)">
                <option value="none">Nenhuma</option>
                <option value="dotted">Pontilhada</option>
                <option value="dashed">Tracejada</option>
                <option value="solid">Sólida</option>
                <option value="double">Dupla</option>
                <option value="groove">Entalhe</option>
                <option value="ridged">Cume</option>
                <option value="inset">Encaixada</option>
                <option value="outset">Começo</option>
                <option value="hidden">Escondida</option>
            </select>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;" colspan="4">BORDA INFERIOR</td>
    </tr>
    <tr>
        <td>Cor:</td>
        <td> <input id="border_bottom_color_selector_hover" name="Hover_Border_Bottom_Color" style="width: 100px; height: 30px;" value="@Model.Hover_Border_Bottom_Color" onchange="BorderBottomColorSelectorHover(this)" type="color" /> </td>
    </tr>
    <tr>
        <td>Espessura:</td>
        <td> <input id="border_bottom_width_range_hover" name="Hover_Border_Bottom_Width" type="range" class="range" value="@Model.Hover_Border_Bottom_Width.Replace("px", string.Empty)" min="0" max="100" onchange="BorderBottomWidthHover(this)" /> </td>
        <td><input id="border_bottom_width_number_hover" onchange="BorderBottomWidthHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Border_Bottom_Width.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Raio Esquerda:</td>
        <td> <input type="range" id="border_bottom_left_radius_range_hover" name="Hover_Border_Bottom_Left_Radius" class="range" value="@Model.Hover_Border_Bottom_Left_Radius.Replace("px", string.Empty)" min="0" max="100" onchange="BorderBottomLeftRadiusWidthHover(this)" /> </td>
        <td><input id="border_bottom_left_radius_number_hover" onchange="BorderBottomLeftRadiusHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Border_Bottom_Left_Radius.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Raio Direita:</td>
        <td> <input type="range" id="border_bottom_right_radius_range_hover" name="Hover_Border_Bottom_Right_Radius" class="range" value="@Model.Hover_Border_Bottom_Right_Radius.Replace("px", string.Empty)" min="0" max="100" onchange="BorderBottomRightRadiusWidthHover(this)" /> </td>
        <td><input id="border_bottom_right_radius_number_hover" onchange="BorderBottomRightRadiusHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Border_Bottom_Right_Radius.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Estilo:</td>
        <td>
            <input type="hidden" id="select_border_bottom_style_hover_hidden" value="@Model.Hover_Border_Bottom_Style" />
            <select class="select" id="select_border_bottom_style_hover" name="Hover_Border_Bottom_Style" onchange="BorderBottomStyleHover(this)">
                <option value="none">Nenhuma</option>
                <option value="dotted">Pontilhada</option>
                <option value="dashed">Tracejada</option>
                <option value="solid">Sólida</option>
                <option value="double">Dupla</option>
                <option value="groove">Entalhe</option>
                <option value="ridged">Cume</option>
                <option value="inset">Encaixada</option>
                <option value="outset">Começo</option>
                <option value="hidden">Escondida</option>
            </select>
        </td>
    </tr>
    <tr>
        <td style="text-align: center;" colspan="4">BORDA ESQUERDA</td>
    </tr>
    <tr>
        <td>Cor:</td>
        <td> <input id="border_left_color_selector_hover" name="Hover_Border_Left_Color" style="width: 100px; height: 30px;" value="@Model.Hover_Border_Left_Color" onchange="BorderLeftColorSelectorHover(this)" type="color" /> </td>
    </tr>
    <tr>
        <td>Espessura:</td>
        <td> <input id="border_left_width_range_hover" name="Hover_Border_Left_Width" type="range" class="range" value="@Model.Hover_Border_Left_Width.Replace("px", string.Empty)" min="0" max="100" onchange="BorderLeftWidthHover(this)" /> </td>
        <td><input id="border_left_width_number_hover" onchange="BorderLeftWidthHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Border_Left_Width.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Estilo:</td>
        <td>
            <input type="hidden" id="select_border_left_style_hover_hidden" value="@Model.Hover_Border_Left_Style" />
            <select class="select" id="select_border_left_style_hover" name="Hover_Border_Left_Style" onchange="BorderLeftStyleHover(this)">
                <option value="none">Nenhuma</option>
                <option value="dotted">Pontilhada</option>
                <option value="dashed">Tracejada</option>
                <option value="solid">Sólida</option>
                <option value="double">Dupla</option>
                <option value="groove">Entalhe</option>
                <option value="ridged">Cume</option>
                <option value="inset">Encaixada</option>
                <option value="outset">Começo</option>
                <option value="hidden">Escondida</option>
            </select>
        </td>
    </tr>
    <tr>
        <td colspan="4">BORDA DIREITA</td>
    </tr>
    <tr>
        <td>Cor:</td>
        <td> <input id="border_right_color_selector_hover" name="Hover_Border_Right_Color" style="width: 100px; height: 30px;" value="@Model.Hover_Border_Right_Color" onchange="BorderRightColorSelectorHover(this)" type="color" /> </td>
    </tr>
    <tr>
        <td>Espessura:</td>
        <td> <input id="border_right_width_range_hover" name="Hover_Border_Right_Width" type="range" class="range" value="@Model.Hover_Border_Right_Width.Replace("px", string.Empty)" min="0" max="100" onchange="BorderRightWidthHover(this)" /> </td>
        <td><input id="border_right_width_number_hover" onchange="BorderRightWidthHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Border_Right_Width.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Estilo:</td>
        <td>
            <input type="hidden" id="select_border_right_style_hover_hidden" value="@Model.Hover_Border_Right_Style" />
            <select class="select" id="select_border_right_style_hover" name="Hover_Border_Right_Style" onchange="BorderRightStyleHover(this)">
                <option value="none">Nenhuma</option>
                <option value="dotted">Pontilhada</option>
                <option value="dashed">Tracejada</option>
                <option value="solid">Sólida</option>
                <option value="double">Dupla</option>
                <option value="groove">Entalhe</option>
                <option value="ridged">Cume</option>
                <option value="inset">Encaixada</option>
                <option value="outset">Começo</option>
                <option value="hidden">Escondida</option>
            </select>
        </td>
    </tr>
</table>




<div id="div_hover_shadow_options" align="center" class="secondary_menu" onclick="OpenHoverShadowButtonOptions()">
    <span>Sombra Externa &#9652;</span>
</div>
<table id="hover_shadow_options" style="display: none; width: 88%">
    <tr>
        <td>Habilitar Sombras:</td>
        <td>
            @if (Model.Hover_Box_Shadow_Enable == true)
            {
                <input id="checkbox_hover_shadow_enable" type="checkbox" onchange="HoverShadowEnable(this)" checked />
            }
            else
            {
                <input id="checkbox_hover_shadow_enable" type="checkbox" onchange="HoverShadowEnable(this)" />
            }

        </td>
    </tr>
    <tr>
        <td>Deslocamento Horizontal:</td>
        <td> <input id="range_box_shadow_offset_x_hover" name="Hover_Box_Shadow_Offset_X" type="range" class="range" value="@Model.Hover_Box_Shadow_Offset_X.Replace("px", string.Empty)" min="0" max="100" onchange="BoxShadowOffsetXHover(this)" /> </td>
        <td><input id="box_shadow_offset_x_hover_number" onchange="BoxShadowOffsetXHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Box_Shadow_Offset_X.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Deslocamento Vertical:</td>
        <td> <input id="range_box_shadow_offset_y_hover" name="Hover_Box_Shadow_Offset_Y" type="range" class="range" value="@Model.Hover_Box_Shadow_Offset_Y.Replace("px", string.Empty)" min="0" max="100" onchange="BoxShadowOffsetYHover(this)" /> </td>
        <td><input id="box_shadow_offset_y_hover_number" onchange="BoxShadowOffsetYHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Box_Shadow_Offset_Y.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Raio de Borrão:</td>
        <td> <input id="range_box_shadow_blur_radius_hover" name="Hover_Box_Shadow_Blur_Radius" type="range" class="range" value="@Model.Hover_Box_Shadow_Blur_Radius.Replace("px", string.Empty)" min="0" max="100" onchange="BoxShadowBlurRadiusHover(this)" /> </td>
        <td><input id="box_shadow_blur_radius_hover_number" onchange="BoxShadowBlurRadiusHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Box_Shadow_Blur_Radius.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Raio de Propagação:</td>
        <td> <input id="range_box_shadow_spread_radius_hover" name="Hover_Box_Shadow_Spread_Radius" type="range" class="range" value="@Model.Hover_Box_Shadow_Spread_Radius.Replace("px", string.Empty)" min="0" max="100" onchange="BoxShadowSpreadRadiusHover(this)" /> </td>
        <td><input id="box_shadow_spread_radius_hover_number" onchange="BoxShadowSpreadRadiusHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Box_Shadow_Spread_Radius.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Cor da Sombra:</td>
        <td> <input id="shadow_color_selector_hover" name="Hover_Box_Shadow_Color" style="width: 100px; height: 30px;" value="@Model.Hover_Box_Shadow_Color" onchange="BoxShadowColorSelectorHover(this)" type="color" /> </td>
    </tr>
</table>



<div id="div_hover_shadow_inset_options" align="center" class="secondary_menu" onclick="OpenHoverShadowInsetButtonOptions()">
    <span>Sombra Interna &#9652;</span>
</div>
<table id="hover_shadow_inset_options" style="display: none; width: 88%">
    <tr>
        <td>Habilitar Sombras:</td>
        <td>
            @if (Model.Hover_Box_Shadow_Inset_Enable == true)
            {
                <input id="checkbox_hover_inset_shadow_enable" type="checkbox" onchange="HoverShadowInsetEnable(this)" checked />
            }
            else
            {
                <input id="checkbox_hover_inset_shadow_enable" type="checkbox" onchange="HoverShadowInsetEnable(this)" />
            }
        </td>
    </tr>
    <tr>
        <td>Deslocamento Horizontal:</td>
        <td> <input id="range_box_shadow_inset_offset_x_hover" name="Hover_Box_Shadow_Inset_Offset_X" type="range" class="range" value="@Model.Hover_Box_Shadow_Inset_Offset_X.Replace("px", string.Empty)" min="0" max="100" onchange="BoxShadowInsetOffsetXHover(this)" /> </td>
        <td><input id="box_shadow_inset_offset_x_hover_number" onchange="BoxShadowInsetOffsetXHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Box_Shadow_Inset_Offset_X.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Deslocamento Vertical:</td>
        <td> <input id="range_box_shadow_inset_offset_y_hover" name="Hover_Box_Shadow_Inset_Offset_Y" type="range" class="range" value="@Model.Hover_Box_Shadow_Inset_Offset_Y.Replace("px", string.Empty)" min="0" max="100" onchange="BoxShadowInsetOffsetYHover(this)" /> </td>
        <td><input id="box_shadow_inset_offset_y_hover_number" onchange="BoxShadowInsetOffsetYHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Box_Shadow_Inset_Offset_Y.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Raio de Borrão:</td>
        <td> <input id="range_box_shadow_inset_blur_radius_hover" name="Hover_Box_Shadow_Inset_Blur_Radius" type="range" class="range" value="@Model.Hover_Box_Shadow_Inset_Blur_Radius.Replace("px", string.Empty)" min="0" max="100" onchange="BoxShadowInsetBlurRadiusHover(this)" /> </td>
        <td><input id="box_shadow_inset_blur_radius_hover_number" onchange="BoxShadowInsetBlurRadiusHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Box_Shadow_Inset_Blur_Radius.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Raio de Propagação:</td>
        <td> <input id="range_box_shadow_inset_spread_radius_hover" name="Hover_Box_Shadow_Inset_Spread_Radius" type="range" class="range" value="@Model.Hover_Box_Shadow_Inset_Spread_Radius.Replace("px", string.Empty)" min="0" max="100" onchange="BoxShadowInsetSpreadRadiusHover(this)" /> </td>
        <td><input id="box_shadow_inset_spread_radius_hover_number" onchange="BoxShadowInsetSpreadRadiusHoverNumberChanged(this)" min="0" max="100" value="@Model.Hover_Box_Shadow_Inset_Spread_Radius.Replace("px", string.Empty)" class="input-number" type="number" /></td>
        <td><span>px</span></td>
    </tr>
    <tr>
        <td>Cor da Sombra:</td>
        <td> <input id="shadow_inset_color_selector_hover" name="Hover_Box_Shadow_Inset_Color" style="width: 100px; height: 30px;" value="@Model.Hover_Box_Shadow_Inset_Color" onchange="BoxShadowInsetColorSelectorHover(this)" type="color" /> </td>
    </tr>
</table>


<div id="div_hover_animation_options" align="center" class="secondary_menu" onclick="OpenHoverAnimationButtonOptions()">
    <span>Animação &#9652;</span>
</div>
<table id="hover_animation_options" style="display: none; width: 88%">
    <tr>
        <td class="td-label">Animação:</td>
        <td>
            <input type="hidden" id="hover_animation_hidden" name="Hover_Animation" value="@Model.Hover_Animation" />
            <input type="hidden" id="select_hover_animation_type_hidden" name="Hover_Animation_Type" value="@Model.Hover_Animation_Type" />

            <select class="select" id="select_hover_animation_type" onchange="AnimationHoverType(this)">
                <option value="none">Nenhuma</option>

                <optgroup label="Bounce (X)">
                    <option value="slow-bounce-x">Slow Bounce</option>
                    <option value="normal-bounce-x">Normal Bounce</option>
                    <option value="fast-bounce-x">Fast Bounce</option>
                </optgroup>

                <optgroup label="Bounce (Y)">
                    <option value="slow-bounce-y">Slow Bounce</option>
                    <option value="normal-bounce-y">Normal Bounce</option>
                    <option value="fast-bounce-y">Fast Bounce</option>
                </optgroup>


                <optgroup label="Rotate (X)">
                    <option value="slow-rotate-x">Slow Rotate</option>
                    <option value="normal-rotate-x">Normal Rotate</option>
                    <option value="fast-rotate-x">Fast Rotate</option>
                </optgroup>


                <optgroup label="Rotate (Y)">
                    <option value="slow-rotate-y">Slow Rotate</option>
                    <option value="normal-rotate-y">Normal Rotate</option>
                    <option value="fast-rotate-y">Fast Rotate</option>
                </optgroup>

                <optgroup label="Rotate (Z)">
                    <option value="slow-rotate-z">Slow Rotate</option>
                    <option value="normal-rotate-z">Normal Rotate</option>
                    <option value="fast-rotate-z">Fast Rotate</option>
                </optgroup>

                <optgroup label="Swing">
                    <option value="slow-swing">Slow Swing</option>
                    <option value="normal-swing">Normal Swing</option>
                    <option value="fast-swing">Fast Swing</option>
                </optgroup>

                <optgroup label="Change Colors">
                    <option value="color-rainbow">Rainbow Palette</option>
                    <option value="color-blue">Blue Palette</option>
                    <option value="color-red">Red Palette</option>
                    <option value="color-green">Green Palette</option>
                    <option value="color-dark">Dark Palette</option>

                </optgroup>


            </select>
        </td>
    </tr>

</table>